<footer id="colophon" class="site-footer">
  {% if site.params.footer.sections %}
    {% if site.params.footer.sections | length > 0 %}
    <div class="footer-top outer">
      <div class="inner">
        <div class="grid footer-widgets">
          {% for section in site.params.footer.sections %}
            {% set include_dict = {'section': section, 'site': site} %}
            {% set component = section.type | component_file %}
            {% include component %}
          {% endfor %}
        </div>
      </div>
    </div><!-- .footer-top -->
    {% endif %}
  {% endif %}
  <div class="footer-bottom outer">
    <div class="inner">
      {% if site.params.footer.has_nav and site.params.footer.nav_links %}
      <div class="footer-nav">
        <ul class="menu">
          {% for action in site.params.footer.nav_links %}
          <li class="menu-item"> 
            {% set include_dict = {'action': action} %}
            {% include "action_link.html" %}
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <div class="site-info">
        {{ site.params.footer.content | safe }}
        &nbsp;
        {% for action in site.params.footer.links %}
          {% set include_dict = {'action': action} %}
          {% include "action_link.html" %}
        {% endfor %}
      </div>
    </div>
  </div><!-- .footer-bottom -->
</footer><!-- .site-footer -->
