{% set section = include_dict.section %}
<section id="{{ section.section_id }}" class="block pricing-block bg-{{ section.background }} outer">
  <div class="block-header inner-small">
    {% if section.title %}
    <h2 class="block-title">{{ section.title }}</h2>
    {% endif %}
    {% if section.subtitle %}
    <p class="block-subtitle">
      {{ section.subtitle | safe }}
    </p>
    {% endif %}
  </div>
  {% if section.pricing_plans %}
  <div class="inner">
    <div class="grid">
      {% for plan in section.pricing_plans %}
      <div class="cell plan">
        <div {{ classNames('card', { 'highlight': plan.highlight }) }}>
          <div class="plan-header">
            {% if plan.title %}
            <h3 class="plan-title">{{ plan.title }}</h3>
            {% endif %}
            {% if plan.subtitle %}
            <div class="plan-subtitle">{{ plan.subtitle }}</div>
            {% endif %}
            {% if plan.price %}
            <div class="plan-price">{{ plan.price }}</div>
            {% endif %}
          </div>
          <div class="plan-content">
            {{ plan.details | markdownify }}
          </div>
          {% if plan.actions %}
          <div class="plan-footer block-buttons">
            {% set include_dict = {'actions': plan.actions} %}
            {% include "cta_buttons.html" %}
          </div>
        {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</section><!-- .block -->
